{% extends "layouts/journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t('evening-mode:pageTitle') }}
{% endblock %}


{% block journey_form %}
    <h1 class="govuk-heading-l">
    {{ t('evening-mode:h1') }}
    </h1>

  {{ casaGovukRadios({
    name: 'eveningMode',
    casaValue: formData.eveningMode,
    casaErrors: formErrors,
    fieldset: {
        legend: {
        text: 'How do you return from work?',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--m'
        }
    },
    items: [
      {
        value: 'walk',
        text: 'Walking or wheeling'
      },
      {
        value: 'bike',
        text: 'Bike'
      },
      {
        value: 'bus',
        text: "Bus"
      },
      {
        value: 'train',
        text: "Train"
      },
      {
        value: 'carShare',
        text: "Car share"
      },
      {
        value: 'tram',
        text: "Tram or Tube"
      }
    ]
  }) }}


{% endblock %}
