{% extends "layouts/journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t('morning-mode:pageTitle') }}
{% endblock %}


{% block journey_form %}
    <h1 class="govuk-heading-l">
    {{ t('morning-mode:h1') }}
    </h1>

  {{ casaGovukRadios({
    name: 'morningMode',
    casaValue: formData.morningMode,
    casaErrors: formErrors,
    fieldset: {
        legend: {
        text: 'How do you get to work?',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--m'
        }
    },
    items: [
      {
        value: 'walk',
        text: "Walk/wheeling/self-propelled"
      },
      {
        value: 'bike',
        text: "Bike"
      },
      {
        value: 'bus',
        text: "Bus"
      },
      {
        value: 'train',
        text: "Train"
      },
      {
        value: 'car',
        text: "Car"
      },
      {
        value: 'carshare',
        text: "Car share"
      },
      {
        value: 'tram',
        text: "Tram or tube"
      }
    ]
  }) }}


{% endblock %}
