{% extends "layouts/journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t('btravel-car-size:pageTitle') }}
{% endblock %}


{% block journey_form %}
    <h1 class="govuk-heading-l">
    {{ t('btravel-car-fuel:h1') }}
    </h1>

  {{ casaGovukRadios({
    name: 'bTravelCarSize',
    casaValue: formData.bTravelCarSize,
    casaErrors: formErrors,
    fieldset: {
        legend: {
        text: 'What size car do you use?',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--m'
        }
    },
    items: [
      {
        value: 'small',
        text: "Small"
      },
      {
        value: 'medium',
        text: "Medium"
      },
      {
        value: 'large',
        text: "Large"
      }
    ]
  }) }}


{% endblock %}
