{% extends "layouts/journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t('Business travel:pageTitle') }}
{% endblock %}


{% block journey_form %}
    <h1 class="govuk-heading-l">
    {{ t('Business travel') }}
    </h1>

  {{ casaGovukRadios({
    name: 'bTravelFrequency',
    casaValue: formData.bTravelFrequency,
    casaErrors: formErrors,
    fieldset: {
        legend: {
        text: 'How many times a month do you travel for business?',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--m'
        }
    },
    hint: {
        text: "For example, team meetings and conferences"
    },
    items: [
      {
        value: '0',
        text: '0'
      },
      {
        value: '1',
        text: '1'
      },
      {
        value: '2',
        text: "2"
      },
      {
        value: '3',
        text: "3"
      },
      {
        value: '4',
        text: "4"
      },
      {
        value: '5',
        text: "5"
      },
      {
        value: '6',
        text: "6"
      },
      {
        value: '7',
        text: "7"
      },
      {
        value: '8',
        text: "8"
      },
      {
        value: '9',
        text: "9"
      },
      {
        value: '10',
        text: "10"
      },
      {
        value: '11',
        text: "11"
      },
      {
        value: '12',
        text: "12 or more"
      }
    ]
  }) }}


{% endblock %}
